.reveal {
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 0.7s ease, transform 0.7s ease;
    height: 100%;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}
