.App {
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f6f6f6;
}

.App-link {
  color: #61dafb;
}

hr {
  border: 1px solid #282c34;
}

.flexCards {
  display: flex;
  flex-wrap: wrap;
}

.centerCards {
  justify-content: center;
}